# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/

# Distribution / packaging
dist/
build/
*.egg
*.egg-info/
sdist/
eggs/
parts/
develop-eggs/
.installed.cfg
lib/
lib64/
bin/
var/

# Virtual environments / tooling
.dev_*
venv/
.venv/

# Local developer resources
dev_*

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
htmlcov/

# Generated docs and Sphinx build
docs/_build/
docs/source/autoapi/

# Jupyter
.ipynb_checkpoints/

# Translations
*.mo

# VS Code
.vscode/

# setuptools_scm generated version file
src/chewacla/_version.py
